@import '../../styles/settings.scss';
@import '../../styles/global.scss';

$color-dark: #2f3542;
$color-warning: #e1644e;

.icon {
  font-size: 24px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darken($color-dark, 3%);
  padding: 0 2rem;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;

}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

a {
  color: $color-light;
  text-decoration: none;
}



.linkActive {
  color: $color-warning;
}

// .nav a:hover,
// .nav a:active {
//   color: #767477;
// }